<!-- app/templates/home/index.html -->

{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}

<div id = "stations_list"><div id = "stations_text"></div></div>
<div id="googleMap">
    
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQzXSM-48e0tuPCN_mkdzr0ripM2ILojU"
      type="text/javascript"></script>
    <script type="text/javascript" src="/static/javaScript/script.js"></script>
</div>

<div id = "directions"></div>


 <div id="chartsDiv" class="chartsContainer">

    <div class="btn-group changeButtonStyles myDiv" data-toggle="buttons">
        <label class="btn btn-primary active" id="day">
            <input type="radio" name="options" id="option1" autocomplete="off" onclick="changeToDayView()">Average Daily Demand
        </label>
        <label class="btn btn-primary deactive" id="hour">
            <input type="radio" name="options" id="option2" autocomplete="off" onclick="changeToHourView()">Average Hourly Demand
        </label>
        <label class="btn btn-primary deactive" id="predict">
            <input type="radio" name="options" id="option3" autocomplete="off" onclick="changeToPredictionView()">Predicted Demand
        </label>
    </div>
    <div class="chartsContainer2">
        <div id="graphs" class="charts"></div>
        <div id="graphs2" class="charts"></div>
        <button onclick="closeCharts()" class="button">x</button>
    </div>
     
 </div>


{% endblock %}