body, html {
    width: 100%;
    height: 100%;
    background-color: rgb(85, 88, 94);
}

body, h1, h2, h3 {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

a, .navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
  color: white; 
}

a:hover, .navbar-default .navbar-brand:hover, .navbar-default .navbar-nav>li>a:hover {
  color: rgb(45, 46, 47); 
}

footer {
    padding: 50px 0;
    background-color: rgb(85, 88, 94);
    overflow: inline-block;
    border-top: 2px solid white;
}

p.copyright {
    margin: 15px 0 0;
    color: white;
}

.alert-info {
    width: 50%;
    margin: auto;
    color: #687430;
    background-color: #e6ecca;
    border-color: #aec251;
}

.btn-default {
    border-color: #aec251;
    color: #aec251;
}

.btn-default:hover {
    background-color: #aec251;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.content-section {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
}

.footer {
  clear: both;
  height: 4em;
}

.stationTitle {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 800;
    color: rgb(51,51,51);
    font-size: 13px;
}

.bikeInfo {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
    color: rgb(51,51,51);
    font-size: 13px;
    display: inline-block;
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

.chartsContainer {
    width: 100%;
    display: none;
    margin: 0;
    padding: 0;
    background-color: white;
}

.chartsContainer2{
    height: 400px;
}

.charts {
    float: left;
    width: 40%;
    height: 100%;
    display: inline-block;
    overflow: auto;
    margin-left: 7.5%;
}

.button {
    border: none;
    background-color: white;
}

.myDiv {
    width: 100%; 
}

label {
    width: 33.33333333333333333333%;
}

#geo{
    display : none;
}

#nodeGoto{
    padding: 0;
    border: none;
    background: none;
    text-decoration:underline;
    color: blue;
}


/** Below is the CSS for the  **/
#stations_list{
    width: 15%;
    height: 100%;
    margin-top: 40px;
    display: none;
    float: left;
    overflow-y:scroll;
    overflow-x: scroll;
    background-color: #cdd3d9;
}

#stations_text{
    padding-left: 20px;
    padding-top: 40px;
}

#stations_button{
    padding: 0;
    border: none;
    background: none;
    color: #3b3a36;
    padding-top: 15px;
}
    
#googleMap {
    width: 100%;
    height: 100%;
    display: inline-block;
}
#test {
    width:20%;
    height: 40%;
    border: 1px solid blue;
    float: left;
    overflow: hidden;
}
#weather{
    display: none;
    justify-content: center;
    background-color: rgb(104, 107, 114);
    padding-top: 15px;
}
#directions{
    width: 35%;
    height: 100%;
    display: none;
    float: right;
    overflow:scroll;
    margin-top: 40px;
    background-color: white;
}

#weather_table{
    
    align-self: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: white;
    border-collapse: collapse;
    width: 50%;
    overflow: hidden;
    margin: auto;
    
}


#weather_table td {
    padding: 2px;
}

/*
#weather_table tr:nth-child(even){
    background-color: #86bdff;
}
*/

#weather_table th:hover {
    column-span: all;
}

.navbar {
    border-bottom: 2px solid white;
}

.topnav {
    font-size: 14px;
    background-color: rgb(85, 88, 94);
}

.predictions {
    display: none;
}

.submitButton {
    font-size: 25px;
    width: 100%;
    height: 110px;
    display: block;
    margin: auto;
    padding: 5%;
    background: #333333;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #dd1818, #333333);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #dd1818, #333333); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

form{
    text-align: center;
}

.dropDowns {
    display: block;
    padding: 5%;
    margin: 0;
}

/* Got code for CSS for gradients from https://uigradients.com */
#row1 {
    background: #B2FEFA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0ED2F7, #B2FEFA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0ED2F7, #B2FEFA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#row2 {
    background: #11998e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#row3 {
    background: #fc4a1a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


#result_container {
    background: #B2FEFA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0ED2F7, #B2FEFA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0ED2F7, #B2FEFA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h3 {
    color: white;
}

#stations_button {
    color: white;
}

#stations_button:hover {
    color: rgb(45, 46, 47); 
}

.answer {
    display: none;
}