<!-- app/templates/base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }} | Project Dream Team</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <script src="/static/javaScript/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
         <div class="container topnav">
           <div class="navbar-header">
              
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNav" onclick="toggleMyNavBar()">
                   <span class="sr-only">Toggle navigation</span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
               </button>
   
             <!-- <a class="navbar-brand topnav" href="{{ url_for('home.homepage') }}"></a> -->
            <button id="stations_button", onclick="showStationsList()">Stations</button>
           </div>
       
          <div class="collapse navbar-collapse myNavBar" id="myNav">
               <ul class="nav navbar-nav navbar-right">
                 <li><a href="#" id="toggle" onclick="displayWeather()">Weather</a></li>
                   <li><a href="{{ url_for('home.homepage') }}">Home</a></li>
               </ul>
           </div>
        </div>
        <div id="weather"></div>
    </nav>
    
      {% block body %}
      {% endblock %}
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li><a href="{{ url_for('home.homepage') }}">Home</a></li>
                    </ul>
                    <p class="copyright text-muted small">Copyright © 2016. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
    
    
</body>
</html>
